<%- include('./partials/nav-sidebar') %>
<div class="container" style="margin: 200px;">
<h2 class="text-light">To create or join vivaroom please!</h2>
<a href="/user/register" class="login-button">Login/Sign up</a>

</div>